# ignore files with below extensions
*.pyc
*.pyo
*.log
*.sqlite3

# ignore below files
.coverage
yarn.lock
package-lock.json
.env.secrets
.ash_history
.bash_history

# ignore below directories
__pycache__/
node_modules/
.cache/
.pytest_cache/
